/* line 2, ../sass/components/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Layout
 * ------
 * Using a negative margin technique, adapted from ZEN. The page is loaded by this order:
 *
 * 1. Header
 * 2. Content
 * 3. Navigation menus
 * 4. Sidebar Left
 * 5. Sideabr Right */
/* Layout rules. (Disclaimer: do not change if you're not sure you know what you're doing.) */
/* line 14, ../sass/layout.sass */
#page {
  *zoom: 1;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  width: 60em;
}
/* line 18, ../sass/components/bourbon/addons/_clearfix.scss */
#page:before, #page:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/components/bourbon/addons/_clearfix.scss */
#page:after {
  clear: both;
}
@media screen and (max-width: 60em) {
  /* line 14, ../sass/layout.sass */
  #page {
    width: auto;
  }
}

/* line 25, ../sass/layout.sass */
.no-sidebars #content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%;
}
/* line 54, ../sass/components/neat/grid/_span-columns.scss */
.no-sidebars #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 25, ../sass/layout.sass */
  .no-sidebars #content {
    display: block;
    float: left;
    margin-right: 3.22581%;
    width: 100%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 25, ../sass/layout.sass */
  .no-sidebars #content {
    display: block;
    float: left;
    margin-right: 6.66667%;
    width: 100%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
/* line 35, ../sass/layout.sass */
.one-sidebar.sidebar-second #content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 74.46809%;
}
/* line 54, ../sass/components/neat/grid/_span-columns.scss */
.one-sidebar.sidebar-second #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 35, ../sass/layout.sass */
  .one-sidebar.sidebar-second #content {
    display: block;
    float: left;
    margin-right: 3.22581%;
    width: 74.19355%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 35, ../sass/layout.sass */
  .one-sidebar.sidebar-second #content {
    display: block;
    float: left;
    margin-right: 6.66667%;
    width: 100%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
/* line 45, ../sass/layout.sass */
.one-sidebar.sidebar-first #content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 65.95745%;
  margin-left: 34.04255%;
}
/* line 54, ../sass/components/neat/grid/_span-columns.scss */
.one-sidebar.sidebar-first #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 45, ../sass/layout.sass */
  .one-sidebar.sidebar-first #content {
    display: block;
    float: left;
    margin-right: 3.22581%;
    width: 61.29032%;
    margin-left: 25.80645%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 45, ../sass/layout.sass */
  .one-sidebar.sidebar-first #content {
    display: block;
    float: left;
    margin-right: 6.66667%;
    width: 100%;
    margin-left: 0%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
/* line 58, ../sass/layout.sass */
.two-sidebars #content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 57.44681%;
  margin-left: 17.02128%;
}
/* line 54, ../sass/components/neat/grid/_span-columns.scss */
.two-sidebars #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 58, ../sass/layout.sass */
  .two-sidebars #content {
    display: block;
    float: left;
    margin-right: 3.22581%;
    width: 48.3871%;
    margin-left: 25.80645%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 58, ../sass/layout.sass */
  .two-sidebars #content {
    display: block;
    float: left;
    margin-right: 6.66667%;
    width: 100%;
    margin-left: 0%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}

/* line 73, ../sass/layout.sass */
#sidebar-first {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 31.91489%;
  margin-left: -59.57447%;
}
/* line 54, ../sass/components/neat/grid/_span-columns.scss */
#sidebar-first:last-child {
  margin-right: 0;
}
/* line 78, ../sass/layout.sass */
.sidebar-first #sidebar-first {
  margin-left: -102.12766%;
}
@media screen and (max-width: 768px) {
  /* line 73, ../sass/layout.sass */
  #sidebar-first {
    display: block;
    float: left;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: -77.41935%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-first:last-child {
    margin-right: 0;
  }
  /* line 85, ../sass/layout.sass */
  .sidebar-first #sidebar-first {
    margin-left: -90.32258%;
  }
}
@media screen and (max-width: 480px) {
  /* line 73, ../sass/layout.sass */
  #sidebar-first {
    display: block;
    float: left;
    margin-right: 6.66667%;
    width: 100%;
    margin-left: 0%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-first:last-child {
    margin-right: 0;
  }
  /* line 91, ../sass/layout.sass */
  .sidebar-first #sidebar-first {
    margin-left: 0%;
  }
}

/* line 94, ../sass/layout.sass */
#sidebar-second {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 23.40426%;
  margin-left: 0%;
}
/* line 54, ../sass/components/neat/grid/_span-columns.scss */
#sidebar-second:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 94, ../sass/layout.sass */
  #sidebar-second {
    display: block;
    float: left;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: 0%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-second:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 94, ../sass/layout.sass */
  #sidebar-second {
    display: block;
    float: left;
    margin-right: 6.66667%;
    width: 100%;
    margin-left: 0%;
  }
  /* line 54, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-second:last-child {
    margin-right: 0;
  }
}

/* line 108, ../sass/layout.sass */
#footer {
  float: none;
  clear: both;
}

/* Layout Helpers */
/* line 113, ../sass/layout.sass */
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

/* Columns Inner
 * -------------
 * You can change the padding inside the columns without changing the
 * width of them by just usinbg the INNER div of each column */
/* line 124, ../sass/layout.sass */
.inner {
  padding: 0;
}

/* Navigation styles */
/* line 129, ../sass/layout.sass */
#navigation li {
  list-style-type: none;
  display: inline-block;
}
