@import url("../fonts/stylesheet.css");


html {
    font-family: 'SansationRegular';
}
body {
    background: url("../images/zm_clouds.jpg") no-repeat scroll 50% 0 #0079bd;
    color: #ececed;
    font: 13px 'SansationRegular',Arial,Helvetica,clean,sans-serif;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: underline;
}
#main a
{
  text-decoration: none;
}
.container.white
{
  background: url("../images/zm_clouds_trans.png") repeat scroll 0 -2px transparent;
  border: 0 none;
  margin-top: 15px;
}
.flex-nav-container {
float: none;
position: relative;
width: 100%;
margin-bottom: 0;
}

.flexslider {
  margin: 0 0 20px;
}

.flex-caption {
color: #2890AF;
font: bold 13px/15px 'SansationRegular',Arial,Helvetica,clean,sans-serif;
text-align: center;
margin: 0;
}

.views-field.views-field-field-dimension {
color: #333;
font: bold 11px 'SansationRegular',Arial,Helvetica,clean,sans-serif;
text-align: center;
display: block
}

#sidebar h2
{
	margin-bottom: 0;
}
#sidebar .content {
border: solid #859db9;
border-width: 0;
padding: 10px 5px;
text-align: center;
}
#sidebar #block-search-form .form-item-search-block-form input
{
	width: 217px;
}
#sidebar .flexslider
{
	box-shadow: none;
	border: 0 none;
	margin: 0;
}
#sidebar .flex-direction-nav {
display: none;
}

#main .flexslider {
margin: 0 0 0;
box-shadow: none;
border: 0 none;
padding: 5px;
background: none;
}
.flex-control-nav.flex-control-paging {
position: relative;
top: -23px;
}
.flex-direction-nav a
{
	opacity: .9;
	-webkit-transition: none;
}
.flex-direction-nav .flex-prev {
left: 0px;
}
.flex-direction-nav .flex-next {
right: 0px;
}
#main .flex-caption {
font-size: 18px;
margin: 0 0 0 0;
background: #000;
padding: 15px 10px;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
filter: alpha(opacity=70);
opacity: 0.7;
color: #2890AF;
position: absolute;
bottom: 0px;
z-index: 1;
text-align: left;
width: 610px;
}

.view-gallery-displays tr {
border: 0 none;
background: url("../images/zm_clouds_trans.png") repeat scroll 0 -2px transparent;
}

.view-gallery-displays td {
padding: 5px 0 5px 4px;
border: none;
vertical-align: top;
}

.view-gallery-displays .views-field-title{
color: #2890AF;
margin: 0;
padding: 2px 0 0 0;
font: bold 13px 'SansationRegular',Arial,Helvetica,clean,sans-serif;
display: block;
text-align: center;
width: 150px;
word-wrap: break-word;
}

.view-gallery-displays .views-field-field-photo a{
border: 1px solid #0079bd;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-top-left-radius: 4px;
-khtml-border-radius-bottomright: 4px;
-khtml-border-radius-topleft: 4px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-topleft: 4px;
border-bottom-right-radius: 4px;
border-top-left-radius: 4px;
margin: 0px;
display: block;
width: 150px;
height: 113px;
}

.view-gallery-displays .views-field-field-photo a:hover {
color: #0000ff;
border: 1px dashed #22676B;
}

.view-gallery-displays .flexslider .views-field-field-photo a,
.flexslider .view-gallery-displays .flexslider .views-field-field-photo a:hover{
  width: auto;
  height: auto;
  border: 0 none;
}

.page-search .search-info {
display: none;
}

.block h2, #footer h2,
#navigation ul, #navigation ul.sf-menu {
border-color: transparent;
-moz-border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
border-style: solid;
border-width: 1px;
background: url("../images/zm_clouds_trans.png") repeat scroll 0 -2px transparent;
color: #ececed;
text-shadow: 1px 1px 4px #666;
-webkit-text-shadow:1px 1px 4px #666; /* for chrome */
-text-shadow:1px 1px 4px #666; /* for all browser*/
text-shadow:1px 1px 4px #666; /* same as above*/
-moz-text-shadow:1px 1px 4px #666; /* for firefox */
-o-text-shadow:1px 1px 4px #666; /* for opera */
-ms-text-shadow:1px 1px 4px #666; /* for ie 9+ */
-khtml-text-shadow:1px 1px 4px #666; /* for gecko based browser*/
}
.view-display-id-block .views-row h2
{
  border: 0 none;
  border: none;
  background: none;
  font: normal 20px/22px 'SansationRegular',Arial,Helvetica,clean,sans-serif;
  color: #ececed;
text-shadow: 1px 1px 4px #666;
-webkit-text-shadow:1px 1px 4px #666; /* for chrome */
-text-shadow:1px 1px 4px #666; /* for all browser*/
text-shadow:1px 1px 4px #666; /* same as above*/
-moz-text-shadow:1px 1px 4px #666; /* for firefox */
-o-text-shadow:1px 1px 4px #666; /* for opera */
-ms-text-shadow:1px 1px 4px #666; /* for ie 9+ */
-khtml-text-shadow:1px 1px 4px #666; /* for gecko based browser*/
}
#navigation ul li a, #navigation ul.sf-menu li a
{
  color: #ececed;
text-shadow: 1px 1px 4px #666;
-webkit-text-shadow:1px 1px 4px #666; /* for chrome */
-text-shadow:1px 1px 4px #666; /* for all browser*/
text-shadow:1px 1px 4px #666; /* same as above*/
-moz-text-shadow:1px 1px 4px #666; /* for firefox */
-o-text-shadow:1px 1px 4px #666; /* for opera */
-ms-text-shadow:1px 1px 4px #666; /* for ie 9+ */
-khtml-text-shadow:1px 1px 4px #666; /* for gecko based browser*/
}
#navigation ul li a:hover, #navigation ul.sf-menu li a:hover,
#navigation ul li a.active, #navigation ul.sf-menu li a.active {
  background-color: transparent;
  color: #fff;
text-shadow: 1px 1px 4px #666;
-webkit-text-shadow:1px 1px 4px #666; /* for chrome */
-text-shadow:1px 1px 4px #666; /* for all browser*/
text-shadow:1px 1px 4px #666; /* same as above*/
-moz-text-shadow:1px 1px 4px #666; /* for firefox */
-o-text-shadow:1px 1px 4px #666; /* for opera */
-ms-text-shadow:1px 1px 4px #666; /* for ie 9+ */
-khtml-text-shadow:1px 1px 4px #666; /* for gecko based browser*/
}
#navigation ul li, #navigation ul.sf-menu li
{
  border-right: 1px solid #ececed;
}

h1, h2, h3, h4, h5, h6,
.view-gallery-displays .view-content h3 {
font: bold 23px/24px 'SansationRegular',Arial,Helvetica,clean,sans-serif;

color: #ececed;
text-shadow: 1px 1px 4px #666;
-webkit-text-shadow:1px 1px 4px #666; /* for chrome */
-text-shadow:1px 1px 4px #666; /* for all browser*/
text-shadow:1px 1px 4px #666; /* same as above*/
-moz-text-shadow:1px 1px 4px #666; /* for firefox */
-o-text-shadow:1px 1px 4px #666; /* for opera */
-ms-text-shadow:1px 1px 4px #666; /* for ie 9+ */
-khtml-text-shadow:1px 1px 4px #666; /* for gecko based browser*/
}

.pane-gallery-displays .flex-control-paging
{
  display: none;
}

.pane-recipes-display .flex-control-paging
{
  margin-top: 25px !important;
}
/*.pane-recipes-display h2 {
  margin-bottom: 0;
}                  */
.pane-recipes-display .views-field
{
	padding: 7px;	
}
.pane-recipes-display .views-field-title {
font-size: 18px;
}
.panel-panel .pane-content {
  background: url("../images/zm_clouds_trans.png") repeat scroll 0 0 transparent;
  margin-bottom: 15px;
}
a:link, a:visited, #navigation ul li a, #navigation ul.sf-menu li a
{
  color: #ececed;
}

.recipe-ingredients {
padding-left: 0;
text-indent: 0;
width: 58%;
margin-bottom: 20px;
}

.recipe-summary {
width: 40%;
margin: 50px 0 0;
}